<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sales</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-br from-slate-900 to-black text-white">

<div class="flex">

  <div class="w-64 h-screen bg-black p-5">
    <h2 class="text-xl font-bold text-cyan-400 mb-6">Inventory</h2>
    <ul class="space-y-3">
      <li><a href="/Manager_dashboard">Dashboard</a></li>
      <li><a href="/product">Products</a></li>
      <li><a href="/add_product">Add Product</a></li>
      <li class="text-cyan-400">Sales</li>
    </ul>
  </div>

  <div class="flex-1 p-10">

    <h1 class="text-3xl font-bold mb-6">Sales</h1>

    <div class="grid grid-cols-3 gap-6 mb-6">
      <div class="bg-white/5 p-5 rounded-xl">
        <p>Today Sales</p>
        <h2 class="text-xl text-cyan-400">₹ {{ today_sales }}</h2>
      </div>

      <div class="bg-white/5 p-5 rounded-xl">
        <p>Today Orders</p>
        <h2 class="text-xl text-cyan-400">{{ today_orders }}</h2>
      </div>

      <div class="bg-white/5 p-5 rounded-xl">
        <p>Total Orders</p>
        <h2 class="text-green-400">{{ total_orders }}</h2>
      </div>

      <div class="bg-white/5 p-5 rounded-xl">
        <p>Revenue</p>
        <h2 class="text-purple-400">₹ {{ revenue }}</h2>
      </div>
    </div>

    <div class="bg-white/5 p-6 rounded-2xl">
      <table class="w-full">
        <thead class="text-cyan-400">
          <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price per piece</th>
            <th>Total Price</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody style="text-align: center;">
          {% for item in items %}
          <tr class="border-t border-gray-700">
            <td>{{ item.product_name }}</td>
            <td>{{ item.qty }}</td>
            <td>₹ {{ item.sale_price }}</td>
            <td>₹{{item.qty * item.sale_price}}</td>
            <td>{{ item.sale_date }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

  </div>
</div>
</body>
</html>